<html>
<head>
<title> Registration form </title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<scrip src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></scrip>
<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0;
  }
</style>

</head>
<body background="https://www.mediglobe.in/assets/img/backgrounds/1@2x.jpg">
    <section class="vh-100">
        <div class="container h-100" style="width:60%">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                {% comment %} <div class="card-body p-md-5"> {% endcomment %}
                  <div class="justify-content-center">
                    <div>
                      <p class="tex
                      t-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                      <form class="mx-md-4" method="post" id="register-form">
                      {% if error1 %}
                        <div class = "alert alert-danger" role="alter">Your password and confirm password is not same!!!!</div>
                       {% endif %}
                       {% if error2 %}
                       <div class = "alert alert-danger" role="alter">Email already exist!!!!</div>
                      {% endif %}
                      {% if error3 %}
                      <div class = "alert alert-danger" role="alter">Please use only alpha charactors in fname!!!!</div>
                     {% endif %}
                     {% if error4 %}
                     <div class = "alert alert-danger" role="alter">Please use only alpha charactors in Lname!!!!</div>
                    {% endif %}
                    {% csrf_token %}
                        <div class="row">
                            <div class="col">
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" id="form53Example1c" class="form-control" name="username" required/>
                            <label class="form-label" for="form53Example1c">Username</label>
                          </div>
                        </div>
                    </div>
                        <div class="col">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <input type="text" id="form43Example1c" class="form-control" name="fname" required/>
                              <label class="form-label" for="form43Example1c">First Name</label>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <input type="text" id="form33Example1c" class="form-control" name="lname" required/>
                              <label class="form-label" for="form33Example1c">Last Name </label>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" id="form3Example7c" class="form-control" name="email" required/>
                            <label class="form-label" for="form3Example7c">Your Email</label>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="text" id="form53Example1" class="form-control" name="address_line1" required/>
                    <label class="form-label" for="form53Example1">Address_line1</label>
                  </div>
                </div>
            </div>
                <div class="col">
                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="form43Examplec" class="form-control" name="state" required/>
                      <label class="form-label" for="form43Examplec">State</label>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
            <div class="d-flex flex-row align-items-center mb-4">
              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
              <div class="form-outline flex-fill mb-0">
                <input type="file" id="form53Example2" class="form-control" name="profile" required/>
                <label class="form-label" for="form53Example2">Profile Picture</label>
              </div>
            </div>
        </div>
            <div class="col">
            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="text" id="form43Examplec3" class="form-control" name="city" required/>
                  <label class="form-label" for="form43Examplec3">City</label>
                </div>
              </div>
            </div>
        </div>
                <div class="row">
                    <div class="col">
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    <input type="text" for="fom" minlength="10" maxlength = "10" name="phone" id="form3Example" class="phone form-control" required/>
                    {% comment %} <input type="number" id="form3Example1c" class="form-control" name="phone" maxlength=10 minlength=10 required/> {% endcomment %}
                    <label class="form-label" for="fom">Phone</label>
                  </div>
                </div>
            </div>
                <div class="col">
                <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" for="fom" minlength="6" maxlength = "6" name="pincode" id="form4Example" class="zip form-control" required/>
                      {% comment %} <input type="number" id="form3Example1c" class="form-control" name="pincode" maxlength=6 minlength=6 required/> {% endcomment %}
                      <label class="form-label" for="form3le1">Pincode</label>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password" maxlength="15" id="form3Example4c" class="form-control" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/>
                            <label class="form-label" for="form3Example4c">Password</label>
                          </div>
                        </div>
                    </div>
                        <div class="col">
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password" id="form3Example4cd" class="form-control" name="confirmpassword" required/>
                            <label class="form-label" for="form3Example4cd">Confirm password</label>
                          </div>
                        </div>
                    </div>
                </div>
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="submit" class="btn btn-primary btn-lg">Register</button>
                        </div>
                        
                        <p class="text-center text-muted mt-1 mb-0">Have already an account? 
                            <a href={% url "login" %} class="fw-bold text-body"><u>Login here</u></a></p>
                      </form>
                    </div>
                  </div>
                </div>
              {% comment %} </div> {% endcomment %}
            </div>
          </div>
        </div>
      </section>
      <script>
        document.querySelector(".phone").addEventListener("keypress", function (evt) {
          if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
          {
              evt.preventDefault();
          }
      });
      document.querySelector(".zip").addEventListener("keypress", function (evt) {
        if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57)
        {
            evt.preventDefault();
        }
    });
      </script>
</body>
</html>
